* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

nav {
	width: 100%;
	height: 5rem;
	display: inline-block;
	top: 0;
	position: sticky;
	background-color: white;

}

.nav-logo {
	display: inline-block;
	padding: 20px;
}

.nav {
	display: inline-block;
	text-align: center;
	padding: 20px;
}

.right-nav {
	float: right;
}

.tuitt-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 0.8rem;
	padding: 1rem;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	    min-height: 60vh;
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-size: 100%;
	    background-attachment: scroll;
	    background-color: gray;
	    background-blend-mode: multiply;
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.3);
	min-height: 60vh;
}

.container {
	padding: 40px;
}

	.title {
		font-family: 'Zilla Slab', serif;
		color: white;
		text-align: right;
		font-size: 4rem;
	}

	.subtitle {
		color: white;
		text-align: right;
	}

	.apply-button {
		color: white;
		font-weight: bold;
		background-color: #c2195b;
		border-radius: 25px;
		font-size: 0.8rem;
		padding: 1rem;
		float: right;
		margin-top: 20px;
	}

.intro {
	padding: 50px;
}

.pre-footer {
	background-color: #f7fbfb;
	padding: 40px;
	text-align: center;
}
	.title-2 {
		font-family: 'Zilla Slab', serif;
		text-align: center;
		margin-bottom: 20px;

	}

	.book-button {
		color: white;
		font-weight: bold;
		background-color: #336589;
		border-radius: 25px;
		font-size: 0.8rem;
		padding: 1rem;
		float: center;
		margin-top: 20px;
	}

footer {
	text-align: center;
}

